<div class="col-md-3">
	<div class="btn btn-default v category">
		<h3><strong>Food Category</strong></h3>
	</div>
	<div class="btn btn-default v category" {{action 'setCategory' mainmeal}}>
		<p>Main Meal</p>
	</div>
	<div class="btn btn-default v category" {{action 'setCategory' hotdrinks}}>
		<p>Hot Drinks</p>
	</div>
	<div class="btn btn-default v category" {{action 'setCategory' colddrinks}}>
		<p>Cold Drinks</p>
	</div>
	<div class="btn btn-default v category" {{action 'setCategory' breakfast}}>
		<p>Break Fast</p>
	</div>
	
</div>
<div class="col-md-9">
</div>	





{{!-- ption value="mainmeal">Main Meal</option>
					<option value="hotdrinks">Drinks</option>
					<option value="colddrinks">Drinks</option>
					<option value="vegan">Vegan</option>
					<option value="dessert">Dessert</option>
					<option value="breakfast">BreakFast</option>
					<option value="snacks">Snacks</option>
					<option value="alcohol">Alcoholic Drinks</option> --}}