<div >
  <form {{action 'submit' on='submit'}}>
    <div class="form-group">
      <label for="password">Email</label>
      {{input value=identification class="form-control"}}

    </div>
    <div class="form-group">
      <label for="password">Pasword</label>
      {{input type="password" value=password class="form-control"}}

    </div>
    <button type="submit" name="btn btn-primary">Login</button>
  </form>

</div>
