<div >
  <form>
    <div class="form-group">
      <label for="password">Email</label>
      {{input value=email class="form-control"}}

    </div>
    <div class="form-group">
      <label for="password">Pasword</label>
      {{input type="password" value=password class="form-control"}}

    </div>
    <button {{action 'signIn'}}>Sign in</button>
  </form>

</div>
