<div class="row fooditem">
  <div class="col-md-2 foodimage">
    <img src={{fooditem.image}} alt="">
  </div>
  <div class="col-md-7">
    <div class="row">
      {{fooditem.name}}
    </div>
    <div class="row fooddescription">
      {{fooditem.description}}
    </div>

  </div>
  <div class="col-md-2 foodprice">
      {{fooditem.price}}
  </div>
  <div class="col-md-1">

  </div>

</div>
