/*Victor*/
.btn.v{
	border-radius: 0px;
	background-color: grey;
}
div.container.v{
	padding-top: 10px;
}
.form-control.v{
	border-radius: 0px;
}
/*Victor*/
/*Emmanu*/

/*Emmanu*/
/*Elvis*/

/*Elvis*/
/*Derrick*/

/*Derrick*/