/*Victor*/
.btn.v{
	border-radius: 0px;
	background-color: grey;
}
div.container.v{
	padding-top: 10px;
}
.form-control.v{
	border-radius: 0px;
}
/*Victor*/
/*Emmanu*/

/*Emmanu*/
/*Elvis*/
.foodimage img{
	width: 100%;
	height: 80px;
}
.fooddescription{
	color: rgb(140, 144, 148);
}
.fooditem{
	margin-bottom: 1%;
	background-color: rgb(228, 231, 219);
}
.foodprice{
	padding-top: 3%;
}
/*Elvis*/
/*Derrick*/

/*Derrick*/
