<!-- Header section -->
<div class="container-fluid">

  <nav class="navbar navbar-inverse">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    <ul class="nav navbar-nav">
      <li>{{#link-to  'index' }}Homepage{{/link-to}}</li>
      <li>{{#link-to  'admin' }}Admin{{/link-to}}</li>
      <li>{{#link-to  'kitchen' }}Kitchen{{/link-to}}</li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Payment</button>

  </nav>
</div>

  {{outlet}}

<!-- /#Header section -->

<!-- Footer Section-->

<footer id="footer">
  <div class="container">
    <div class="row">
      <h3 class="footertext">About Us:</h3>
      <br>
      <div class="col-md-4">
        <center>
          <img src="https://www.graphicsprings.com/filestorage/stencils/e63db7d40e258b982093c455e5426b83.svg">
          <br>
          <h4 class="footertext">About Us</h4>
          <p class="footertext">mlo-safi is a digital disruption software for the hospitality industry.</p><br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src ="https://www.graphicsprings.com/filestorage/stencils/49e65bf09cfc775184bceeb2884027e6.svg">
          <br>
          <h4 class="footertext">Services</h4>
          <p class="footertext">We offer the following services.</p><br>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="https://www.graphicsprings.com/filestorage/stencils/af3de2a2d50da154065d433298434b2d.svg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Contact us</h4>
          <p class="footertext">
            <ul class="list-inline center-block social">
              <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
            </ul>
          </p><br>
        </center>
      </div>
    </div>
    <div class="row">
      <p>
        <center>
          <p>Copyright &copy; 2017 Design and Developed By<a href="#">   mlo-safi</a> </p>
        </center>
      </p>
    </div>
  </div>
</footer>
<!-- /#footer -->
