<!-- Part 1: Wrap all page content here -->
<div id="wrap">
<!-- Header section -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to  'index' class="navbar-brand"}}Mlo Safi{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to  'index' }}Home{{/link-to}}</li>
        {{#if session.isAuthenticated}}
        <li>{{#link-to  'admin' }}Admin{{/link-to}}</li>
        <li>{{#link-to  'kitchen' }}Kitchen{{/link-to}}</li>
        <li>{{#link-to  'serveorder' }}Waiter{{/link-to}}</li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Custom Order<span class="caret"></span></a>
          <ul class="dropdown-menu">

          </ul>
        </li>
        <li>{{#link-to  'payment' }}Payment{{/link-to}}</li>
      {{/if}}


    </ul>

    <ul class="nav navbar-nav pull-right">
      {{#if session.isAuthenticated}}
      <li><a href="#" {{action 'signOut'}}>sign Out</a></li>
      {{else}}
      {{login-form signIn='signIn'}}
      {{/if}}
    </ul>
  </div>


  </nav>
<div class="container">
  {{outlet}}

  <div id="push"></div>

</div>

<!-- /#Header section -->

<!-- Footer Section-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <br>
      <!--First column-->
      <div class="col-md-4">
        <center>
          <img src="https://www.graphicsprings.com/filestorage/stencils/e63db7d40e258b982093c455e5426b83.svg">
          <br>
          <h4 class="footertext">About Us</h4>
          <p class="footertext"><a href="#!">mlo-safi team.</a></p><br>
        </center>
      </div>
      <!-- /.First column-->
      <!--Second column-->
      <div class="col-md-4">
        <center>
          <img src ="https://www.graphicsprings.com/filestorage/stencils/49e65bf09cfc775184bceeb2884027e6.svg">
          <br>
          <h4 class="footertext">Services</h4>
          <p class="footertext"><a href="#!">We offer the following services.</a></p><br>
        </center>
      </div>
      <!-- /.Second column-->
      <!--Third column-->

      <div class="col-md-4">
        <center>
          <img src="https://www.graphicsprings.com/filestorage/stencils/af3de2a2d50da154065d433298434b2d.svg" class="img-circle" alt="...">
          <br>
          <h4 class="footertext">Contact us</h4>
          <div id="ikons">
          <ul class="list-inline center-block social">
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="mlosafi123@gmail.com"> <i class="fa fa-envelope-o">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-github">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-envelope-o">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-github">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
        </div>
        </center>
      </div>
      <!-- /.Third column-->

    </div>
    <!--Copyright-->

    <div class="row">
      <p>
        <center>
          <p>Copyright &copy; 2017 Design and Developed By<a href="#">   mlo-safi</a> </p>
        </center>
      </p>
    </div>
    <!--/.Copyright-->

  </div>
</footer>
<!-- /#footer -->
</div>
