{{custom-choice model}}
<div class="container">
	<h1>Make A Custom Coffee Syrup</h1>
	<div class="col-md-6">
	<form>
	<div class="form-group">
		<label for="type">Type Of Coffee</label>
		<select class="form-control">
			<option>Espresso</option>
			<option>Double Espresso</option>
			<option>Short Macchiato</option>
			<option>Long Macchiato</option>
		</select>
	</div>
	<div class="form-group">
		<label for="type">Milk Options</label>
		<select class="form-control">
			<option>Espresso</option>
			<option>Double Espresso</option>
			<option>Short Macchiato</option>
			<option>Long Macchiato</option>
		</select>
	</div>
	</form>
	</div>
</div>