<div class="container">
  <h1>Menu</h1>
  <div class="row">
    <div class="col-md-9">
      <h1>Main Meal</h1>
      {{#each model.mainmeal as |fooditem|}}
        {{view-fooditem fooditem=fooditem}}
      {{/each}}
      <h1>Alcoholic drinks</h1>
      {{#each model.alcohol as |fooditem|}}
        {{view-fooditem fooditem=fooditem}}
      {{/each}}
    </div>
    <div class="col-md-3">
      {{view-order confirmOrder='confirmOrder'}}
    </div>
  </div>


</div>
