<div class="container jumbotron">
<div class="kitchen">
    <h2>Mlo Safi Kitchen Service</h2>
    <hr>
    <h3>Pending Orders</h3>
    <button class="btn btn-success" {{action 'view' order}}>Orders</button> {{pending-orders order=model}}
  </div>
  </div>
