<div class="container jumbotron">
  <div class="row cersei">
    <h2>Mlo Safi Kitchen Service</h2>
  </div>
    <hr>
<div class="container row">
  <div class="snow">
    {{pending-orders orders=model update="update" serve="serve"}}
  </div>
</div>

  </div>
